@import "tailwindcss";



header {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

nav {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.content-font {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}